*{
    margin: 0;
}

.icon{
    height: 20px;
    padding-right: 10px;
}

.notif{
    background-color: #D4E9E2;
    color: #1E3932;
}

.notif-p a{
    color: #1E3932;
    text-decoration: underline;
}

.notif a:hover{
    color: #1E3932;
    text-decoration: none;
}

.reward{
    background-color: #1E3932;
}

.coco{
    background-color: #F2F0EB;
    color: #1E3932;
}

.coco .cocobtn{
    color: #1E3932;
    border-color: #1E3932;
}

.flavor{
    background-color: #F2F0EB;
    color: #1E3932;
}

.flavor .flavorbtn{
    color: #1E3932;
    border-color: #1E3932;
}

.pickup{
    background-color: #D4E9E2;
    color: #1E3932;
}

.pickup .pickupbtn{
    color: #1E3932;
    border-color: #1E3932;
}

.visa{
    background-color: #D4E9E2;
}

.link{
    color: black;
    text-decoration: underline;
}

.link:hover{
    text-decoration: none;
}

hr{
    border: none;
    background-color: grey;
    color: grey;
    height: 2px;
}

.links h6{
    color: #0000008F;
}

footer{
    color: #0000008F;
}


@media (min-width: 992px) {
    .largesc{
        display: none;    
    }
 }

@media (max-width: 991px) {
    .smallsc{
        display: none;
    }
}